<h2> Login page</h2>

<form action="/login" method="POST">
    <input type="text" placeholder="enter your username" name="username" /> <br> <br>
    <input type="password" placeholder="enter your password" name="password" /> <br> <br>
    <button type="submit" >login</button>
</form>