<div class="container mt-5">
    <h1>about page</h1>
    <table>
        {{#each persons}}
        <tr>
            <td> Name: <h6 class="btn-outline-dark btn my-1"> {{name}} </h6></td>
            <td> Id: <h6 class="btn-outline-dark btn my-1"> {{id}} </h6></td>
        </tr>
        {{/each }}
    </table>  
</div>