<form action="" method="POST">
    <h1><i>Login page</i></h1>

    <div class="card" style="width: 25rem; margin: 25vh auto; box-shadow:0px 0px 15px 0.5px black">
        <div class='container p-5'>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="email" name="username">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <button type="submit" class="btn btn-outline-primary mt-3">Login</button>

        </div>

    </div>
</form>